#### Operators 

===>>> The symbols are used for to do some operations on operands 

#### Operands 

===>>>  The data with in the operations 

#### operations 

===>>> The process of solving the equations 

#### Operators are  classified based on  2 ways 

1. Based on operands 

----->>> Based on the no of operands with in the operations

        1. unary operator
        
            -->> A operator which is operating on single operands
            
        2. Binary operator
        
            -->> A operator which is operating on single operands

2. Based on Operations 

==>> arithmetic operators

==>> relational operators

==>> Logical operators

==>> Assignment operators

==>> Special Operators

==>> bitwise operators

In [1]:
# unary operatos  --->> single operator vs single operand
print  +  123 # unary plus
print  - 50 # unary minus
print  not True # unary logical not 
print ~ 34 #  -35

123
-50
False
-35

In [2]:
# binary operators  --->> single operatorvs two operands 
print 10 + 20 # arithmetic binary plus
print  10 < 40# relational lessthan opeprators

30
True

In [3]:
# Arithmetic operator
'''
addition              +
subtraction           -
multiplication        *
division              /
modulus               %
'''
#wap applay all arithmetic operators 
a  = input("enter a : ")
b  = input("enter b : ")
print "add : ",a+b
print "sub : ",a-b
print "mul : ",a*b
print "div : ",a/b
print "rem : ",a%b

enter a : 45
enter b : 2
add :  47
sub :  43
mul :  90
div :  22
rem :  1

In [4]:
#wap applay all arithmetic operators 
a  = input("enter a : ")
b  = input("enter b : ")
print "add : ",a+b
print "sub : ",a-b
print "mul : ",a*b
print "div : ",a/b
print "rem : ",a%b

enter a : 45.0
enter b : 2.0
add :  47.0
sub :  43.0
mul :  90.0
div :  22.5
rem :  1.0

In [5]:
# 2 more operators 
'''
floor division    //  
exponant          **
'''
a = 45
b =2
print a//b
print a/b
a = 45.0
b =2.0
print a//b
print a/b

22
22
22.0
22.5

In [7]:
a = 12
b =2
print a *b
print a ** b
print 10 ** 3

24
144
1000

In [10]:
# wap find the intrest for 2% per 100 and my priciple 100000 for 2 years
t = 2*12
p = 100000
r = 2
SI = ( p * t*r)/100
print SI

48000

In [ ]:
# wap find the area of triangle and perimter
# wap find the area and peri of square
# w